.Mainpage2 {
  display: flex;
  flex: 1 1;
  margin-bottom: -39px;
}

.searchbox {
  border-radius: 6px;
}

.input-group-text {
  border-radius: 20px;
}
.searchbox1 {
  background-color: #fff;
}
.selecttag {
  border: none;
}

.searchboxbutton {
  font-size: 12px;
  width: 90px;
  padding: 1px 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #36bb22;
  border: 1px solid #36bb22;
  border-radius: 15px;
}

.Mainpage1 {
  width: 1200px;
}

@media (max-width: 767px) {
  .Mainpage1 {
    width: 100% !important;
    height: 552px !important;
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .mainpageright {
    width: 100% !important;
    justify-content: center;
  }

  .Mainpage {
    min-width: 0px !important;
  }

  .Mainpage2 {
    width: 100% !important;
  }

  .mainpageleft {
    flex: 1 1;
    width: 100% !important;
    padding-top: 60px !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .selecttag {
    font-size: 14px;
  }

  .inpDiv > .searchbox {
    max-width: 460px;
  }
}

@media (max-width: 450px) {
  .mainpageleft {
    padding-top: 40px !important;
  }

  .Mainpage2 {
    margin-top: -60px;
  }
}
.Mainpage1 {
  width: 1200px;
  height: 392px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Mainpage {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fddc00 !important;
}
